atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
coverage-badge==0.2.0
cssselect==1.0.3
decorator==4.3.0
idna==2.8
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
lxml==4.6.3
more-itertools==4.3.0
parsel==1.5.1
parso==0.3.1
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
Pygments==2.3.1
pymongo==3.7.2
pytest==4.0.2
pytest-cov==2.6.0
pytest-cover==3.0.0
pytest-coverage==0.0
requests==2.21.0
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
w3lib==1.19.0
wcwidth==0.1.7
